* {
    margin: 0;
    padding: 0;
}

#top_bar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 5px;
    background-color: rgb(0, 0, 0);
}

#logo {
    display: flex;
    align-items: center;
}

#logo, #logo_image {
    height: inherit;
}

#links-container {
    flex-grow: 0.3;
    display: flex;    
    justify-content: space-around;
}

.topbar-link {
    color: #ff6d83;
    text-decoration: none;
}

#account {
    height: inherit;
    clip-path:circle() ;
}

#title {
    font-family: Apple Chancery, cursive;
    font-size: 30px;

}

